*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
li{
  list-style: none;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.actionHandle:hover{
  background-color: rgb(209, 193, 193)!important;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
:root {
  --white: #fff;
  --charcoal-grey: #3d3d3f;
  --white-two: #f6f6f6;
  --white-three: #ededed;
  --white-four: #d4d3d3;
  --pea-green: #82bf11;
  --strawberry: #f63f45;
  --pumpkin-orange: #ff7413;
  --bright-orange: #ff6900;
  --apricot: #ffc371;
  --greyish-brown: #4d4d4d;
  --pinkish-grey: #ccc;
  --greyish: #acacac;
  --cornflower-50: rgba(95, 109, 255, 0.5);
  --greyish-two: #b7b7b7;
  --white-five: #fbfbfb;
  --dark-grey: #202124;
  --brown-grey: #979797;
  --white-six: #eaeaea;
  --sandy: #f5c07c;
  --light-gold-40: rgba(255, 213, 67, 0.4);
  --cornflower-40: rgba(95, 109, 255, 0.4);
  --pale-orange-40: rgba(255, 161, 95, 0.4);
  --pale-orange: #ffa15f;
  --apricot-50: rgba(255, 195, 113, 0.5);
}
